.purchas {
  margin: 0px;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 300px;
  width: 500px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 350px;
  padding: 1px solid red;
  border-radius: 5px;
}
.main-content {
  font-size: large;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
}
.amount-content {
  padding: 10px 10px;
  border: 1px solid red;
  border-radius: 5px;
  font-family: sans-serif;
}
.submit-content {
  margin-top: 20px;
  padding: 10px 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: larger;
  background-color: red;
}
