.nav {
  display: flex;
  background-color: rgb(249, 252, 251);
  margin-left: 40%;
  margin-right: 30%;
  padding: 10px 10px;
}
.nav-bar {
  padding: 10px 10px;
  margin: 10px 10px;
  color: brown;
}
