.pizzamania {
  background-color: rgb(248, 46, 46);
  border: 1px solid white;
  width: 320px;
  height: 480px;
  color: white;
  border-radius: 5px;
  margin: 80px 80px;
  margin-left: 150px;
}
.order-btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
  background-color: rgb(248, 46, 46);
  color: black;
}
.order-btn:hover {
  background-color: white;
}
.container {
  display: flex;
  margin: 75px 75px;
  padding: 10px 10px;
  background-color: rgb(248, 46, 46);
  margin-top: 65px;
  margin-left: 55px;
  margin-right: 45px;
}
.mai-heade {
  color: rgb(59, 13, 184);
  margin-left: 0px;
}
