.login-cantaine {
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    background-color: rgb(111, 111, 252);
    margin-left: 30%;
    margin-right: 30%;
    padding: 10%;
    border-radius: 5px;
    border: 1px solid green;
  }
  .button {
    padding: 5px;
    margin-left: 20%;
    margin-right: 30%;
    margin-top: -5%;
    width: 60%;
    height: 20%;
    border-radius: 5px;
    border: 1px solid green;
    color: green;
  }
  .user {
    padding: 5px;
    margin-left: 20%;
    margin-right: 30%;
    margin-top: 15%;
    width: 60%;
    height: 20%;
    border-radius: 5px;
    border: 1px solid green;
    color: green;
  }
  .para {
    color: white;
  }
  .header-page {
    color: honeydew;
  }
  .use {
    padding: 5px;
    margin-left: -25%;
    margin-right: 30%;
    margin-top: 15%;
    width: 60%;
    height: 20%;
    border-radius: 5px;
    border: 1px solid green;
    color: green;
  }
  .remember {
    padding: 5px;
    margin-left: 10%;
    margin-right: 30%;
    margin-top: -11%;
    width: 60%;
    height: 20%;
    border-radius: 5px;
    border: 1px solid rgb(111, 111, 252);
    color: rgb(247, 250, 247);
  }
  .forgot {
    margin-left: 30%;
    color: rgb(12, 16, 252);
  }
  